/*sizes ------------------------------------ */

.size22 {
    font-size: 22px !important;
}

.size20 {
    font-size: 20px !important;
}

.size18 {
    font-size: 18px !important;
}

.size15 {
    font-size: 15px !important;
}

.size12 {
    font-size: 12px !important;
}

.size10 {
    font-size: 10px !important;
}


/*margin-bottom ------------------------------------ */

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}


/*margin-top ------------------------------------ */

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}


/*padding-bottom ------------------------------------ */

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}


/*padding-top ------------------------------------ */

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}


/*end sizes ------------------------------------ */

.inline {
    display: inline-block;
    height: 45px;
}


/*owl*/

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -65px;
    top: 200px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -65px;
    top: 200px;
}

.slider-inner .owl-controls .owl-buttons .owl-prev {
    left: -65px;
    top: 50%;
    margin-top: -21px;
}

.slider-inner .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -65px;
    top: 50%;
    margin-top: -21px;
}

@media (max-width: 768px) {
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -30px;
        top: 200px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: -30px;
        top: 200px; 
    }
    .slider-inner .owl-controls .owl-buttons .owl-prev {
        left: -65px;
        top: 50%;
        margin-top: -21px;
    }
    .slider-inner .owl-theme .owl-controls .owl-buttons .owl-next {
        right: -65px;
        top: 50%;
        margin-top: -21px;
    }
}

.gallery .owl-next,
.gallery .owl-prev {
    top: 60px !important;
}

.services-gallery .owl-next,
.services-gallery .owl-prev {
    top: 40% !important;
}

.gallery .owl-item {
    /*
    padding: 1px !important;
    margin: 3px !important;
        border: 1px solid #eaeaea;
*/
}


/*Owl Carousel v1*/

.owl-carousel-v1 .owl-navigation {
    text-align: right;
    margin-bottom: 30px;
    margin-top: -44px;
}

.owl-slider {
    margin-left: -10px;
    margin-right: -10px;
}

.owl-carousel-v1 .item {
    margin: 0 10px 0 10px;
}

.owl-carousel-v1 .item img {
    text-align: center;
}

.owl-carousel-v1 .owl-pagination {
    display: none;
}


/*Social Icons ------------------------------------ */

.social-icons {
    padding: 10px;
    /*    background-color: #fff;*/
}

.social-icons li {
    list-style: none;
    margin-right: 3px;
    margin-bottom: 5px;
    text-indent: -9999px;
    display: inline-block;
}

.social-icons li a,
a.social-icon {
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.social-icons li:hover a {
    background-position: 0 -38px;
}

.social-icons-color li a {
    opacity: 0.7;
    background-position: 0 -38px !important;
    -webkit-backface-visibility: hidden;
    /*For Chrome*/
}

.social-icons-color li a:hover {
    opacity: 1;
}

.social_amazon {
    background: url(../img/social/amazon.png) no-repeat;
}

.social_behance {
    background: url(../img/social/behance.png) no-repeat;
}

.social_blogger {
    background: url(../img/social/blogger.png) no-repeat;
}

.social_deviantart {
    background: url(../img/social/deviantart.png) no-repeat;
}

.social_dribbble {
    background: url(../img/social/dribbble.png) no-repeat;
}

.social_dropbox {
    background: url(../img/social/dropbox.png) no-repeat;
}

.social_evernote {
    background: url(../img/social/evernote.png) no-repeat;
}

.social_facebook {
    background: url(../img/social/facebook.png) no-repeat;
}

.social_forrst {
    background: url(../img/social/forrst.png) no-repeat;
}

.social_github {
    background: url(../img/social/github.png) no-repeat;
}

.social_googleplus {
    background: url(../img/social/googleplus.png) no-repeat;
}

.social_jolicloud {
    background: url(../img/social/jolicloud.png) no-repeat;
}

.social_last-fm {
    background: url(../img/social/last-fm.png) no-repeat;
}

.social_linkedin {
    background: url(../img/social/linkedin.png) no-repeat;
}

.social_picasa {
    background: url(../img/social/picasa.png) no-repeat;
}

.social_pintrest {
    background: url(../img/social/pintrest.png) no-repeat;
}

.social_rss {
    background: url(../img/social/rss.png) no-repeat;
}

.social_skype {
    background: url(../img/social/skype.png) no-repeat;
}

.social_spotify {
    background: url(../img/social/spotify.png) no-repeat;
}

.social_stumbleupon {
    background: url(../img/social/stumbleupon.png) no-repeat;
}

.social_tumblr {
    background: url(../img/social/tumblr.png) no-repeat;
}

.social_twitter {
    background: url(../img/social/twitter.png) no-repeat;
}

.social_vimeo {
    background: url(../img/social/vimeo.png) no-repeat;
}

.social_wordpress {
    background: url(../img/social/wordpress.png) no-repeat;
}

.social_xing {
    background: url(../img/social/xing.png) no-repeat;
}

.social_yahoo {
    background: url(../img/social/yahoo.png) no-repeat;
}

.social_youtube {
    background: url(../img/social/youtube.png) no-repeat;
}

.social_vk {
    background: url(../img/social/vk.png) no-repeat;
}

.social_instagram {
    background: url(../img/social/instagram.png) no-repeat;
}

.rounded-x {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}

.top-social {
    margin-top: 25px;
}


/*Social Icons*/


/*FancyBox Hover Effect*/

.zoomer:hover .overlay-zoom .zoom-icon {
    opacity: 0.3;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
}

.overlay-zoom {
    z-index: 90;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.overlay-zoom .zoom-icon {
    top: 0;
    opacity: 0;
    z-index: 100;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../img/overlay-icon.png");
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

@media (max-width: 768px) {
    .fancybox-overlay {
        background: none !important;
    }
}


/* /FancyBox Hover Effect*/

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
}


/*
 
.col-xs-1-5 {
  width: 20%;
  float: left;
}
*/

@media (min-width: 768px) {
    .col-xs-1-5 {
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-xs-1-5 {
        width: 33.33333333%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-xs-1-5 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}