[[$header]] 
[[*id:is=`[[++cultureKey:is=`ru`:then=`2`]][[++cultureKey:is=`en`:then=`363`]][[++cultureKey:is=`uz`:then=`509`]]`:then=`
<section class="services" id="services">
	<div class="container-fluid bgfff services-inner ">
		<div class="row">
			[[pdoResources? &tpl=`services-listing` &limit=`0` &parents=`2` &sortby=`menuindex` &sortdir=`ASC` &where=`{"parent":[[++cultureKey:is=`ru`:then=`2`]][[++cultureKey:is=`en`:then=`363`]][[++cultureKey:is=`uz`:then=`509`]]}` &depth=`1` &showHidden=`0` &includeTVList=`services-menu-img` ]]
		</div>
	</div>
</section>
`]] 
[[*id:isnot=`[[++cultureKey:is=`ru`:then=`2`]][[++cultureKey:is=`en`:then=`363`]][[++cultureKey:is=`uz`:then=`509`]]`:then=`[[*isfolder:is==`0`:then=`
<!-- страница -->
<div class="col-lg-12 img-blank [[*id]] img-desktop-only" style="background: url(/[[*pic-services]]) no-repeat;">
	<div class="container">
		<div class="row"><div></div></div>
	</div>
</div>
<div class="container content services-content">
	<article class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<h1>[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1> 
			[[*services-price:isnotempty=`
			<div class="price h2">Стоимость от [[*services-price]]</div>`]]
		</div>
		[[breadcrumb? &containerTpl=`breadcrumb-container` ]]
	</article>
</div>

<div class="service-blue-bg">
	<div class="container pt-30 pb-30 ">
		<div class="row">
			<div class="col-md-12" id="services-intro">
				[[*content]]
			</div>
		</div>
	</div>
</div>

<div class="container services-content content">
	<div class="row">
		<div class="col-md-12 services-folder">
			[[*service-sub-blue-bg:isnotempty=`
			<div class="service-sub-blue-bg" id="service-sub-blue-bg">
				[[*service-sub-blue-bg]]
			</div>
			`]] 
			[[Wayfinder? &startId=`[[*id]]` &level=`1` &outerClass=`` &hereClass=`active` &scheme=`abs` &ph=`services-typess`]] 
			
			[[+services-typess:isnotempty=`
			<div class="services-types" id="services-types">
				<h2>[[++cultureKey:is=`ru`:then=`Виды [[*services-title-rp]]`]][[++cultureKey:is=`en`:then=`Types`]][[++cultureKey:is=`uz`:then=`ТУРЛАРИ`]] </h2>
				[[+services-typess]]
			</div>`]] 
			[[*services-testimony:isnotempty=`
			<div class="services-testimony" id="services-testimony">
				<h2>[[++cultureKey:is=`ru`:then=`Показания к [[*services-title-dp]]`]][[++cultureKey:is=`en`:then=`Indications `]][[++cultureKey:is=`uz`:then=`КЎРСАТМАЛАР`]]</h2> [[*services-testimony]]
			</div>`]] 
			[[*services-types:isnotempty=`
			<div class="services-types-second" id="services-types-second">
				<h2>[[++cultureKey:is=`ru`:then=`Виды [[*services-title-rp]]`]][[++cultureKey:is=`en`:then=`Types`]][[++cultureKey:is=`uz`:then=`ТУРЛАРИ`]] </h2>
				[[*services-types]]
			</div>`]] 
			[[*services-preparation:isnotempty=`
			<div class="services-preparation" id="services-preparation">
				<h2>[[++cultureKey:is=`ru`:then=`Подготовка к [[*services-title-dp]]`]][[++cultureKey:is=`en`:then=`Preparation`]][[++cultureKey:is=`uz`:then=`ТАЙЁРГАРЛИК`]] </h2> [[*services-preparation]]
			</div>`]] 
			[[*services-contraindications:isnotempty=`
			<div class="services-contraindications" id="services-contraindications">
				<h2>[[++cultureKey:is=`ru`:then=`Противопоказания к [[*services-title-dp]]`]][[++cultureKey:is=`en`:then=`Contraindications `]][[++cultureKey:is=`uz`:then=`ҚАРШИ КЎРСАТМАЛАР `]] </h2> 
				[[*services-contraindications]]
			</div>`]] 
			[[*services-after:isnotempty=`
			<div class="services-after" id="services-after">
				<h2>[[++cultureKey:is=`ru`:then=`После [[*services-title-rp]]`]][[++cultureKey:is=`en`:then=`After`]][[++cultureKey:is=`uz`:then=`СЎНГ`]] </h2> 
				[[*services-after]]
			</div>`]] 
			
			[[Gallery? &album=`1` &limit=`15` &thumbTpl=`services-page-gallery` &containerTpl=`album` &thumbWidth=`665` &thumbHeight=`333` &imageWidth=`1000` &imageHeight=`1000` &toPlaceholder=`services-gallery` &tag=`[[*id]]` &sort=`rank` &dir=`DESC`]] [[+services-gallery:isnotempty=`
			<div class="service-gallery" id="services-gallery">
				<h2 class="mb-40">[[++cultureKey:is=`ru`:then=`Фото до и после`]][[++cultureKey:is=`Before and after photos`:then=`364`]][[++cultureKey:is=`uz`:then=`Пластикадан олдин ва кейинги фотолар`]]</h2>
				<div id="" class="services-gallery owl owl-carousel owl-theme pb-30">
					[[+services-gallery]]
				</div>
			</div>`]]

			[[getResourceField:isequalto=`1`:then=`
			<section class="faq mainpage-sections" id="faq">
				<div class="container bgfff faq-inner">
					<div class="row">
						<div class="col-md-12">
							<h2>[[++cultureKey:is=`ru`:then=`Часто задаваемые вопросы`]][[++cultureKey:is=`en`:then=`FAQ`]][[++cultureKey:is=`uz`:then=`Савол ва жавоб`]]</h2>
						</div>
						<div class="col-md-12">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								[[getResources? &tplFirst=`@INLINE &nbsp;
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading[[+id]]">
										<div class="fa fa-question-circle gold-color"></div>&nbsp;
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse[[+id]]" aria-expanded="true" aria-controls="collapse[[+id]]">[[+pagetitle]]</a>
										</h4>
									</div>
									<div id="collapse[[+id]]" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading[[+id]]">
										<div class="panel-body">
											<i class="fa fa-quote-left gold-color"></i>&nbsp; <strong>[[++cultureKey:is=`ru`:then=`Ответ:`]][[++cultureKey:is=`en`:then=`Question:`]][[++cultureKey:is=`uz`:then=`Жавоб`]]</strong> [[+content]]
										</div>
									</div>
								</div>
								` &tpl=`@INLINE &nbsp;
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading[[+id]]">
										<div class="fa fa-question-circle gold-color"></div>&nbsp;
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse[[+id]]" aria-expanded="true" aria-controls="collapse[[+id]]">[[+pagetitle]]</a>
										</h4>
									</div>
									<div id="collapse[[+id]]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading[[+id]]">
										<div class="panel-body">
											<i class="fa fa-quote-left gold-color"></i>&nbsp;
											<strong>[[++cultureKey:is=`ru`:then=`Ответ:`]][[++cultureKey:is=`en`:then=`Question:`]][[++cultureKey:is=`uz`:then=`Жавоб`]]</strong> [[+content]]
										</div>
									</div>
								</div>
								` &limit=`5` &includeContent=`1` &includeTVs=`1` &hideContainers=`1` &processTVs=`1` &parents=`[[++cultureKey:is=`ru`:then=`3`]][[++cultureKey:is=`en`:then=`369`]][[++cultureKey:is=`uz`:then=`522`]]` &sortby=`menuindex` &sortdir=`ASC` ]]
							</div>
							<div class="twobtns text-center">
								<a href="[[~3]]#FaqForm" class="btn btn-default mt-30 mb-50">[[++cultureKey:is=`ru`:then=`Задать свой вопрос`]][[++cultureKey:is=`en`:then=`Send your answer`]][[++cultureKey:is=`uz`:then=`Саволингизни беринг`]]</a>
								<a href="[[~3]]" class="btn btn-default mt-30 mb-50">[[++cultureKey:is=`ru`:then=`Смотреть все вопросы`]][[++cultureKey:is=`en`:then=`All questions`]][[++cultureKey:is=`uz`:then=`Барча саволларни қаранг`]]</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			`:else=``? &id=`[[++cultureKey:is=`ru`:then=`3`]][[++cultureKey:is=`en`:then=`369`]][[++cultureKey:is=`uz`:then=`522`]]` &field=`published`]]
			
			[[getResourceField:isequalto=`1`:then=`
			<section class="responses mainpage-sections" id="responses">
				<div class="container bgfff responses-inner">
					<div class="row">
						<div class="col-md-12">
							<h2>[[++cultureKey:is=`ru`:then=`Отзывы о нашей клинике`]][[++cultureKey:is=`en`:then=`Testimonials`]][[++cultureKey:is=`uz`:then=`КЛИНИКАМИЗ ҲАҚИДА ФИКРЛАР`]]</h2>
							<div class="responses-mainpage owl owl-carousel owl-theme">
								[[pdoResources? &tpl=`@INLINE &nbsp;
								<div class="item mainpage-responses-item">
									<a class="" href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#[[+id]]"><img src="/assets/img/avatar-female-2.png" alt="[[+pagetitle]]" class="img-circle img-responsive pull-left" /></a>
									<h3 class="pb-20 pt-10"><a class="" href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#[[+id]]">[[+pagetitle]]</a></h3>
									<p class="descrption"><a class="" href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#[[+id]]">[[+content:notags:ellipsis=`200`]]</a></p>
								</div>
								` &limit=`5` &includeContent=`1` &includeTVs=`1` &hideContainers=`1` &processTVs=`1` &parents=`[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]` &sortby=`menuindex` &sortdir=`ASC` ]]
							</div>
							<div class="morebtn-mainpage text-center">
								<a href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#RespForm" class="btn btn-default mt-30 mb-50 ">[[++cultureKey:is=`ru`:then=`Оставить отзыв`]][[++cultureKey:is=`en`:then=`Send testimonials`]][[++cultureKey:is=`uz`:then=`Фикр қолдирмоқ`]]</a>
								<a href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]" class="btn btn-default mt-30 mb-50 ">[[++cultureKey:is=`ru`:then=`Все отзывы`]][[++cultureKey:is=`en`:then=`All testimonials`]][[++cultureKey:is=`uz`:then=`Барча фикрлар`]]</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			`:else=``? &id=`[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]` &field=`published`]]

		</div>
	</div>
</div>

`:else=`
<!-- раздел -->
<div class="col-lg-12 img-blank [[*id]]  img-desktop-only" style="background: url(/[[*pic-services]]) no-repeat;">
	<div class="container">
		<div class="row"><div></div></div>
	</div>
</div>
<div class="container content services-folder">
	<article class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12"><h1>[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1></div>
		[[breadcrumb? &containerTpl=`breadcrumb-container` ]]
	</article>
</div>
<div class="service-blue-bg">
	<div class="container pt-30 pb-30 ">
		<div class="row">
			<div class="col-md-12" id="services-intro">
				[[*content]]
			</div>
		</div>
	</div>
</div>
<div class="container  services-folder content">
	<div class="row">
		<div class="col-md-12 services-folder">
			[[*service-sub-blue-bg:isnotempty=`
			<div class="service-sub-blue-bg" id="service-sub-blue-bg">
				[[*service-sub-blue-bg]]
			</div>`]] 
			[[Wayfinder? &startId=`[[*id]]` &level=`1` &outerClass=`` &hereClass=`active` &scheme=`abs` &ph=`services-typess`]] 
			[[+services-typess:isnotempty=`
			<div class="services-types" id="services-types">
				<h2>[[++cultureKey:is=`ru`:then=`Виды [[*services-title-rp]]`]][[++cultureKey:is=`en`:then=`Types`]][[++cultureKey:is=`uz`:then=`ТУРЛАРИ`]]</h2>
				[[+services-typess]]
			</div>
			`]] [[*services-price:isnotempty=`
			<div class="services-price" id="services-price">
				<h2>[[++cultureKey:is=`ru`:then=`Цена на [[*services-title-vp]]`]][[++cultureKey:is=`en`:then=`Price`]][[++cultureKey:is=`uz`:then=`НАРХЛАРИ`]]</h2> 
				[[*services-price]]
			</div>
			`]] 
			[[*services-testimony:isnotempty=`
			<div class="services-testimony" id="services-testimony">
				<h2>[[++cultureKey:is=`ru`:then=`Показания к [[*services-title-dp]]`]][[++cultureKey:is=`en`:then=`Indications `]][[++cultureKey:is=`uz`:then=`КЎРСАТМАЛАР`]]</h2> [[*services-testimony]]
			</div>
			`]] 
			[[*services-types:isnotempty=`
			<div class="services-types-second" id="services-types-second">
				<h2>[[++cultureKey:is=`ru`:then=`Виды [[*services-title-rp]]`]][[++cultureKey:is=`en`:then=`Types`]][[++cultureKey:is=`uz`:then=`ТУРЛАРИ`]]</h2>
				[[*services-types]]
			</div>
			`]] 
			[[*services-preparation:isnotempty=`
			<div class="services-preparation" id="services-preparation">
				<h2>[[++cultureKey:is=`ru`:then=`Подготовка к [[*services-title-dp]]`]][[++cultureKey:is=`en`:then=`Preparation`]][[++cultureKey:is=`uz`:then=`ТАЙЁРГАРЛИК`]]</h2> [[*services-preparation]]
			</div>
			`]] 
			[[*services-contraindications:isnotempty=`
			<div class="services-contraindications" id="services-contraindications">
				<h2>[[++cultureKey:is=`ru`:then=`Противопоказания к [[*services-title-dp]]`]][[++cultureKey:is=`en`:then=`Contraindications `]][[++cultureKey:is=`uz`:then=`ҚАРШИ КЎРСАТМАЛАР `]]</h2> 
				[[*services-contraindications]]
			</div>
			`]] 
			[[*services-after:isnotempty=`
			<div class="services-after" id="services-after">
				<h2>[[++cultureKey:is=`ru`:then=`После [[*services-title-rp]]`]][[++cultureKey:is=`en`:then=`After`]][[++cultureKey:is=`uz`:then=`СЎНГ`]] </h2> 
				[[*services-after]]
			</div>
			`]] 
		
			[[+services-doctors:isnotempty=`
			<div class="doctors" id="services-doctors">
				<h2 class="mb-40">[[++cultureKey:is=`ru`:then=`Наши специалисты`]][[++cultureKey:is=`en`:then=`Our specialists`]][[++cultureKey:is=`uz`:then=`БИЗНИНГ МУТАХАССИСЛАРИМИЗ`]]</h2>
				<div class="doctors-services-carousel owl owl-carousel owl-theme">
					[[getResources? &tpl=`doctors-carousel` &limit=`6` &includeContent=`1` &includeTVs=`1` &hideContainers=`1` &processTVs=`1` &parents=`[[++cultureKey:is=`ru`:then=`8`]][[++cultureKey:is=`en`:then=`364`]][[++cultureKey:is=`uz`:then=`511`]]` &tvFilters=`doctors-category==[[*doctors-category]]` &sortby=`menuindex` &sortdir=`ASC` &toPlaceholder=`services-doctors` ]] [[+services-doctors]]
				</div>
				<div class="morebtn-mainpage text-center">
					<a href="[[~[[++cultureKey:is=`ru`:then=`8`]][[++cultureKey:is=`en`:then=`364`]][[++cultureKey:is=`uz`:then=`511`]]]]" class="btn btn-default mt-30 mb-50 ">[[++cultureKey:is=`ru`:then=`Все специалисты`]][[++cultureKey:is=`en`:then=`All specialists`]][[++cultureKey:is=`uz`:then=`Хаммаси мутахассисларимиз`]]</a>
				</div>
			</div>
			`]] 
			[[Gallery? &album=`1` &limit=`15` &thumbTpl=`services-page-gallery` &containerTpl=`album` &thumbWidth=`665` &thumbHeight=`333` &imageWidth=`1000` &imageHeight=`1000` &toPlaceholder=`services-gallery` &tag=`[[*id]]` &sort=`rank` &dir=`DESC`]] [[+services-gallery:isnotempty=`
			<div class="service-gallery" id="services-gallery">
				<h2 class="mb-40">[[++cultureKey:is=`ru`:then=`Фото до и после`]][[++cultureKey:is=`Before and after photos`:then=`364`]][[++cultureKey:is=`uz`:then=`Пластикадан олдин ва кейинги фотолар`]]</h2>
				<div id="" class="services-gallery owl owl-carousel owl-theme pb-30">
					[[+services-gallery]]
				</div>
			</div>
			`]]			
			[[getResourceField:isequalto=`1`:then=`
			<section class="faq mainpage-sections" id="faq">
				<div class="container bgfff faq-inner">
					<div class="row">
						<div class="col-md-12">
							<h2>[[++cultureKey:is=`ru`:then=`Часто задаваемые вопросы`]][[++cultureKey:is=`en`:then=`FAQ`]][[++cultureKey:is=`uz`:then=`Савол ва жавоб`]]</h2>
						</div>
						<div class="col-md-12">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								[[getResources? &tplFirst=`@INLINE &nbsp;
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading[[+id]]">
										<div class="fa fa-question-circle gold-color"></div>&nbsp;
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse[[+id]]" aria-expanded="true" aria-controls="collapse[[+id]]">[[+pagetitle]]</a>
										</h4>
									</div>
									<div id="collapse[[+id]]" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading[[+id]]">
										<div class="panel-body">
											<i class="fa fa-quote-left gold-color"></i>&nbsp; <strong>[[++cultureKey:is=`ru`:then=`Ответ:`]][[++cultureKey:is=`en`:then=`Question:`]][[++cultureKey:is=`uz`:then=`Жавоб`]]</strong> [[+content]]
										</div>
									</div>
								</div>
								` &tpl=`@INLINE &nbsp;
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading[[+id]]">
										<div class="fa fa-question-circle gold-color"></div>&nbsp;
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse[[+id]]" aria-expanded="true" aria-controls="collapse[[+id]]">[[+pagetitle]]</a>
										</h4>
									</div>
									<div id="collapse[[+id]]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading[[+id]]">
										<div class="panel-body">
											<i class="fa fa-quote-left gold-color"></i>&nbsp;
											<strong>[[++cultureKey:is=`ru`:then=`Ответ:`]][[++cultureKey:is=`en`:then=`Question:`]][[++cultureKey:is=`uz`:then=`Жавоб`]]</strong> [[+content]]
										</div>
									</div>
								</div>
								` &limit=`5` &includeContent=`1` &includeTVs=`1` &hideContainers=`1` &processTVs=`1` &parents=`[[++cultureKey:is=`ru`:then=`3`]][[++cultureKey:is=`en`:then=`369`]][[++cultureKey:is=`uz`:then=`522`]]` &sortby=`menuindex` &sortdir=`ASC` ]]
							</div>
							<div class="twobtns text-center">
								<a href="[[~3]]#FaqForm" class="btn btn-default mt-30 mb-50">[[++cultureKey:is=`ru`:then=`Задать свой вопрос`]][[++cultureKey:is=`en`:then=`Send your answer`]][[++cultureKey:is=`uz`:then=`Саволингизни беринг`]]</a>
								<a href="[[~3]]" class="btn btn-default mt-30 mb-50">[[++cultureKey:is=`ru`:then=`Смотреть все вопросы`]][[++cultureKey:is=`en`:then=`All questions`]][[++cultureKey:is=`uz`:then=`Барча саволларни қаранг`]]</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			`:else=``? &id=`[[++cultureKey:is=`ru`:then=`3`]][[++cultureKey:is=`en`:then=`369`]][[++cultureKey:is=`uz`:then=`522`]]` &field=`published`]]
			
			[[getResourceField:isequalto=`1`:then=`
			<section class="responses mainpage-sections" id="responses">
				<div class="container bgfff responses-inner">
					<div class="row">
						<div class="col-md-12">
							<h2>[[++cultureKey:is=`ru`:then=`Отзывы о нашей клинике`]][[++cultureKey:is=`en`:then=`Testimonials`]][[++cultureKey:is=`uz`:then=`КЛИНИКАМИЗ ҲАҚИДА ФИКРЛАР`]]</h2>
							<div class="responses-mainpage owl owl-carousel owl-theme">
								[[pdoResources? &tpl=`@INLINE &nbsp;
								<div class="item mainpage-responses-item">
									<a class="" href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#[[+id]]"><img src="/assets/img/avatar-female-2.png" alt="[[+pagetitle]]" class="img-circle img-responsive pull-left" /></a>
									<h3 class="pb-20 pt-10"><a class="" href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#[[+id]]">[[+pagetitle]]</a></h3>
									<p class="descrption"><a class="" href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#[[+id]]">[[+content:notags:ellipsis=`200`]]</a></p>
								</div>
								` &limit=`5` &includeContent=`1` &includeTVs=`1` &hideContainers=`1` &processTVs=`1` &parents=`[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]` &sortby=`menuindex` &sortdir=`ASC` ]]
							</div>
							<div class="morebtn-mainpage text-center">
								<a href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]#RespForm" class="btn btn-default mt-30 mb-50 ">[[++cultureKey:is=`ru`:then=`Оставить отзыв`]][[++cultureKey:is=`en`:then=`Send testimonials`]][[++cultureKey:is=`uz`:then=`Фикр қолдирмоқ`]]</a>
								<a href="[[~[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]]]" class="btn btn-default mt-30 mb-50 ">[[++cultureKey:is=`ru`:then=`Все отзывы`]][[++cultureKey:is=`en`:then=`All testimonials`]][[++cultureKey:is=`uz`:then=`Барча фикрлар`]]</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			`:else=``? &id=`[[++cultureKey:is=`ru`:then=`103`]][[++cultureKey:is=`en`:then=`368`]][[++cultureKey:is=`uz`:then=`521`]]` &field=`published`]]
		</div>
	</div>
</div>
`]] `]] 
[[$footer]]
